<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

        @media only screen and (max-width: 768px) {
            .email-box {
                width: 100% !important;
                padding: 1rem !important;
            }
        }

        .email-box {
            width: 75%;
        }

        * {
            font-family: 'Tajawal', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .btn-email {
            text-decoration: none;
        }

        .btn-email:hover {
            background-color: #215a77 !important;
        }
    </style>
</head>

<body>
    <div class="email-container" style="display: flex;padding: 4rem; background-color: #f6f8fc;" dir="rtl">
        <div class="email-box"
            style="margin: auto; padding: 3rem; width: 75%; background-color: #fff; box-shadow: 5px 5px 10px #8ca0aa; border-radius: 5px;">
            <div style="text-align: center; margin-bottom: 2rem;">
                <img class="logo" src="https://gotex.vercel.app/static/media/logo.53d20c662c9641d190bf.png" alt="logo"
                    style="margin: auto; width: 80px;">
            </div>
            <h2 style="color: #08354c;font-size:1.4rem;">مرحبا..</h2>
            <h4 style="color: #0b4461;font-size:1.1rem;"> يمكنك استخدام هذا الرمز لتغيير كلمة المرور الخاصة بك:
            </h4>
            <div style="margin-bottom: 1rem;">
                <span
                    style="display:inline-block;padding:14px 32px 14px 32px;border:1.8px solid #0b4461;border-radius:10px;background:#dce0e2;font-size:24px;color:#0b4461;text-align: center;padding:14px 32px 14px 32px;">
                    <!-- param2 -> code -->
                    <%=param2%>
                </span>
            </div>
            <h4 style="color: #08354c;font-size:1rem;">جوتكس</h4>
        </div>
    </div>
</body>

</html>